{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
    <body>
        <header id="pageHeader">
            Header
        </header>
        <article id="mainArticle">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
        </article>
        <nav id="mainNav">
            <h3>Navigations</h3>
            <ul>
                <li><a href="">Главная</a></li>
                <li><a href="">Ассортимент</a></li>
                <li><a href="">О нас</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </nav>
        <div id="siteAds">
            Ads
        </div>
        <footer id="pageFooter">
            Footer
        </footer>
    </body>
</html>